{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="{{ url_for('buy') }}" method="post">
        <fieldset>
        
            <div class="form-group" >
                <h3 >Stock:</h3>
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="symbol" type="text"/>

                <h3>Want to Buy share:</h3>
                <input autocomplete="off" type="number" min="1" autofocus class="form-control" name="quantity" placeholder="quantity" />
                <h3> <button class="btn btn-primary" type="submit">BUY NOW</button></h3>
            </div>
        </fieldset>
    </form>
{% endblock %}