{% extends "layout.html" %}
{% block title %}
    History
{% endblock %}
{% block main %}
    <form>
        <fieldset>
            <div class="container">
            <div class="form-group"><h2> Your all transactions records:</h2>
            <table class="table table-striped">
                <tr><th>Bought/Sold</th><th>Symbol</th><th>Price</th><th>Shares</th><th>DateTime</th></tr>
                {% for s in row %}
                <tr><td>{{s.mode}}</td><td>{{s.symbol}}</td><td>{{s.price}}</td><td>{{s.quantity}}</td><td>{{s.time}}</td></tr>
                {% endfor %}
            </table>
            </div>
            </div>
        </fieldset>
    </form>
{% endblock %}